/vendor/
/node_modules/
.env
.env.*.local
.DS_Store
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/data/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
